:root {
  --primary-color: #b186ff;
  --secundary-color: #d3cece;
  --just-white: #fff;
  --background-color: #292b31;

  /*Colors by type*/
  --normal-type: #aaaa99;
  --fighting-type: #bb5544;
  --flying-type: #8899ff;
  --poison-type: #a59;
  --ground-type: #db5;
  --rock-type: #ba6;
  --bug-type: #ab2;
  --ghost-type: #66b;
  --steel-type: #aab;
  --fire-type: #f42;
  --water-type: #39f;
  --grass-type: #7c5;
  --electric-type: #fc3;
  --psychic-type: #f59;
  --ice-type: #6cf;
  --dragon-type: #76e;
  --dark-type: #754;
  --fairy-type:#e9e ;
  --unknown-type: #fff;
  --shadow-type: #fff ;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body { 
  font-size: 1.6rem;
  font-family: 'Dosis', sans-serif;
  background-color: var(--background-color);
  color: var(--just-white);
}

button:hover {
  cursor: pointer;
}

header {
  width: 100%;
  height: 10vh;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-content: center;
  /* position: fixed; */
}

/* Main */
.pokedex-container{
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;

}

/* Search section */
.search-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-form input{
  width: 100%;
  max-width: 240px;
  height: 36px;
  padding-left: 10px;
  border: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.search-form button {
  width: 48px;
  height: 36px;
  border: none;
  background-color: var(--primary-color);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* Pokemon List */
.pokemon-container {
  width: calc(100% - 80px);
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 5px;
}
.pokemon-img-container:hover {
  cursor: pointer;
}

.pokemon-img-container {
  /* width: 240px;
  height: 430px; */
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.pokemon-img {
  width: 150px;
  height: 180px;
  margin: 0 auro;
}
.pokemon-name {
  margin-top: 5px;
}
.pokemon-name span {
  margin-left: 10px;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--secundary-color);
}

.pokemon-types {
  margin-bottom: 20px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pokemon-types span {
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 2px 10px;
  border: 1px solid  transparent;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  color: var(--just-white);
}
.generic-button {
  width: 150px;
  height: 24px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  color: var(--just-white);
  font-weight: 500;
}

.inactive {
  display: none;
}

